:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--system-ui);
}

h1,
h2 {
  margin: 0;
}

.detailContainer {
  margin-bottom: 25px;
  margin-top: 10px;
}

#createProjectBtn,
#addNewTodoBtn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
}

#createProjectBtn:hover,
#addNewTodoBtn:hover {
  padding: 13p 18px;
}

#createProjectBtn {
  background-color: rgb(179, 98, 179);
}

#addNewTodoBtn {
  background-color: rgb(130, 130, 216);
}

.projectChildContainer {
  margin-bottom: 15px;
}

.container,
.todoInfoContainer,
.todoBtnContainer,
.hideProjectDetailContainer,
.actionSection {
  display: flex;
}

.hideProjectDetailContainer {
  justify-content: end;
}

.todoTitleEditContainer,
.todoSelectPriorityContainer,
.todoDetailedDescContainer,
.todoNoteContainer,
#todoInputForm > div,
#projectInputForm > div {
  display: flex;
  align-items: center;
}

.container {
  justify-content: space-evenly;
}

.todoInfoContainer {
  align-items: center;
}

.todoInfoContainer,
.todoTitleEditContainer,
.todoSelectPriorityContainer,
.todoDetailedDescContainer,
.todoNoteContainer,
.todoBtnContainer,
#todoInputForm > div,
#projectInputForm > div,
.actionSection {
  gap: 15px;
}

.projectChildContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.todoContainer > div,
.todoTitleEditContainer,
.todoSelectPriorityContainer,
.todoDetailedDescContainer,
.todoNoteContainer,
#todoInputForm > div,
#projectInputForm > div {
  margin-bottom: 15px;
}

.todoContainer,
.projectContainer {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 25px;
}

.todoContainer {
  border: 1px solid rgb(228, 226, 226);
}

.todoBtnContainer {
  margin-top: 50px;
}

.todoSaveBtn,
.todoDeleteBtn,
.detailBtn,
.todoDetailBtn,
.hideProjectDetailBtn {
  height: 30px;
  width: 75px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
}

.todoSaveBtn:hover,
.todoDeleteBtn:hover,
.detailBtn:hover,
.todoDetailBtn:hover,
.hideProjectDetailBtn:hover {
  width: 78px;
  height: 33px;
}

.todoDeleteBtn {
  background-color: #e34432;
}

.todoSaveBtn {
  background-color: #809cff;
}

.todoDetailBtn,
.detailBtn {
  background-color: #ffcc80;
}

.detailBtn:disabled {
  background-color: #fff3e1;
}

.hideProjectDetailBtn {
  background-color: rgb(130, 197, 130);
}
