:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--system-ui);
}

.todoHeader {
  margin: 0;
}

.detailContainer {
  margin-bottom: 15px;
}

.container,
.todoInfoContainer,
.todoBtnContainer {
  display: flex;
}

.todoTitleEditContainer,
.todoSelectPriorityContainer,
.todoDetailedDescContainer,
.todoNoteContainer,
#todoInputForm > div,
#projectInputForm > div {
  display: flex;
  align-items: center;
}

.container {
  justify-content: space-evenly;
}

.todoInfoContainer {
  align-items: center;
}

.todoInfoContainer,
.todoTitleEditContainer,
.todoSelectPriorityContainer,
.todoDetailedDescContainer,
.todoNoteContainer,
.todoBtnContainer,
#todoInputForm > div,
#projectInputForm > div {
  gap: 15px;
}

.projectChildContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.todoContainer > div,
.todoTitleEditContainer,
.todoSelectPriorityContainer,
.todoDetailedDescContainer,
.todoNoteContainer,
#todoInputForm > div,
#projectInputForm > div {
  margin-bottom: 15px;
}
